<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moto.actions"
    android:sharedUserId="android.uid.system"
    >

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:allowBackup="true"
        android:label="@string/moto_actions_title"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true">

        <receiver android:name="com.moto.actions.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="ServiceWrapper" android:permission="ServiceWrapper">
            <intent-filter>
                <action android:name="ServiceWrapper"/>
            </intent-filter>
        </service>

        <activity
            android:name=".DozePreferenceActivity"
            android:label="@string/ambient_display_title"
            android:theme="@style/MotoActions">
            <intent-filter>
                <action android:name="com.moto.actions.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActionsPreferenceActivity"
            android:label="@string/moto_actions_title"
            android:summary="@string/screen_gestures_panel_summary"
            android:theme="@style/MotoActions">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_gestures_dashboard" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/screen_gestures_panel_summary" />
        </activity>

    </application>

</manifest>
